<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Enregistrer</servlet-name>
        <servlet-class>ctrl.Enregistrer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <jsp-file>/html/Accueil.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Saisir</servlet-name>
        <jsp-file>/html/Saisie.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>lire</servlet-name>
        <jsp-file>/html/lire.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>supprimer</servlet-name>
        <jsp-file>/html/supprimer.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Confirmer</servlet-name>
        <servlet-class>ctrl.Confirmer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmerSupprMsg</servlet-name>
        <jsp-file>/html/ConfirmerSupprMsg.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Supprimer</servlet-name>
        <servlet-class>ctrl.SupprimerListe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerServlet</servlet-name>
        <servlet-class>ctrl.Supprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifierListe</servlet-name>
        <jsp-file>/html/modifier.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>modifierMessage</servlet-name>
        <servlet-class>ctrl.modifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierBD</servlet-name>
        <servlet-class>ctrl.modifierBd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Enregistrer</servlet-name>
        <url-pattern>/Enregistrer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Saisir</servlet-name>
        <url-pattern>/Saisir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lire</servlet-name>
        <url-pattern>/lire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supprimer</servlet-name>
        <url-pattern>/supprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirmer</servlet-name>
        <url-pattern>/Confirmer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmerSupprMsg</servlet-name>
        <url-pattern>/ConfirmerSupprMsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Supprimer</servlet-name>
        <url-pattern>/Supprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerServlet</servlet-name>
        <url-pattern>/SupprimerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifierListe</servlet-name>
        <url-pattern>/listeModif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifierMessage</servlet-name>
        <url-pattern>/modifierMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierBD</servlet-name>
        <url-pattern>/ModifierBD</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
